$activeColor: rgba(4, 168, 219, 1);

body {
  margin: 0;
  color:#333;
}

#toolbar {
  display: block;
  background: #F3F3F3;
  margin-bottom:12px;
  padding:12px 24px;
  .control-group {
    display:inline-block;
    &:first-of-type {
      margin-right:12px;
      border-right: 1px solid #ffffff;
      padding-right:12px;
    }
  }
  input {
    display:inline-block;
    padding:12px;
    border: 1px solid $activeColor;
    border-radius: 3px;
    margin-right:7px;
    outline: none;
  }
  label {
    position:relative;
    span {
      position:absolute;
      left: 12px;
      top: 3px;
      bottom: 0;
      margin: auto;
      text-transform: uppercase;
      color:#333;
      font: 11px 'system-ui';
    }
  }
  button {
    -webkit-appearance: none;
    border: 1px solid $activeColor;
    border-radius: 3px;
    padding: 12px;
    cursor:pointer;
    background:#fff;
    text-transform: uppercase;
    margin-right:7px;
    outline: none;
    &:hover {
      background:$activeColor;
      color:#fff;
    }
  }
}

#chart {
  padding:24px;
  .row {
    cursor:pointer;
    padding:24px;
    background:transparent;
    margin-bottom:12px;
    border:1px solid #ccc;
    position:relative;
    z-index:0;
    &.active {
      -webkit-box-shadow: 0px 0px 4px $activeColor;
    }
    .label {
      color: #333;
      font-style: italic;
      font-size:18px;
      margin-bottom: 1em;
      display: block;
    }
    .columns {
      display:inline-block;
      vertical-align: middle;
      .end-of-line + .column {
        clear:left;
      }
      .column {
        float:left;
        text-align:center;
        position:relative;
        z-index:1;
        padding:12px;
        vertical-align: middle;
        &.active {
          -webkit-box-shadow: 0px 0px 4px $activeColor;
        }
        &:last-of-type {
          margin-right:0;
        }
        .key {
          height:24px;
        }
        .beats {
          border:1px solid rgba(0,0,0, 0.2);
          height:80px;
          .beat {
            display:inline-block;
            width:24px;
            border-right: 1px solid rgba(0,0,0, 0.2);
            height:80px;
            position:relative;
            &:last-of-type {
              border-right:0;
            }
            &.hit {
              &:after {
                content: "";
                position:absolute;
                width:4px;
                height:40px;
                background:#000000;
                border-radius:50%;
                left:0;
                top:0;
                right:0;
                bottom:0;
                margin: auto;
                transform: rotate(4deg); /* Standard syntax */
              }
            }
          }
        }
      }
    }
    .repeats {
      display:inline-block;
      margin-left:12px;
    }
  }
}
